<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sean.arya.stark.backstage.dao.StarkUserRoleMapper">
    <resultMap id="baseResult" type="com.sean.arya.stark.backstage.dao.domain.StarkUserRole">
        <result column="ID" property="id" jdbcType="BIGINT"/>
        <result column="USER_ROLE_ID" property="userRoleId" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="GTM_CREATE" property="gtmCreate" jdbcType="TIMESTAMP"/>
        <result column="GTM_UPDATE" property="gtmUpdate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 基础字段 -->
    <sql id="baseColumns">
        `ID`,
        <include refid="insertColumns"/>
    </sql>
    <!-- Insert字段 -->
    <sql id="insertColumns">
        `USER_ROLE_ID`,`USER_ID`,`ROLE_ID`,`GTM_CREATE`,`GTM_UPDATE`
    </sql>
    <!-- 根据主键查询一行数据 -->
    <select id="get" parameterType="java.lang.String" resultMap="baseResult">
        SELECT
        <include refid="baseColumns"/>
        FROM STARK_USER_ROLE
        WHERE `USER_ROLE_ID` = #{userRoleId,jdbcType=VARCHAR}
    </select>
    <!-- 根据主键更新非空字段 -->
    <update id="update" parameterType="com.sean.arya.stark.backstage.dao.domain.StarkUserRole">
        UPDATE STARK_USER_ROLE
        <set>
            <if test="userId != null and userId != '' " >
                `USER_ID` = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null and roleId != '' " >
                `ROLE_ID` = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="gtmCreate != null" >
                `GTM_CREATE` = #{gtmCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gtmUpdate != null" >
                `GTM_UPDATE` = #{gtmUpdate,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE `USER_ROLE_ID` = #{userRoleId,jdbcType=VARCHAR}
    </update>
    <!-- 根据主键更新全部字段 -->
    <update id="cover" parameterType="com.sean.arya.stark.backstage.dao.domain.StarkUserRole">
        UPDATE STARK_USER_ROLE
        SET 
            `USER_ID` = #{userId,jdbcType=VARCHAR},
            `ROLE_ID` = #{roleId,jdbcType=VARCHAR},
            `GTM_CREATE` = #{gtmCreate,jdbcType=TIMESTAMP},
            `GTM_UPDATE` = #{gtmUpdate,jdbcType=TIMESTAMP}
        WHERE `USER_ROLE_ID` = #{userRoleId,jdbcType=VARCHAR}
    </update>
    <!-- 统计数量 -->
    <select id="count" parameterType="com.sean.arya.stark.backstage.dao.domain.StarkUserRole" resultType="java.lang.Integer">
        SELECT count(*) FROM STARK_USER_ROLE
        <where>
            <if test="id != null" >
            AND `ID` = #{id,jdbcType=BIGINT}
            </if>
            <if test="userRoleId != null and userRoleId != '' " >
            AND `USER_ROLE_ID` = #{userRoleId,jdbcType=VARCHAR}
            </if>
            <if test="userId != null and userId != '' " >
            AND `USER_ID` = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null and roleId != '' " >
            AND `ROLE_ID` = #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="gtmCreate != null" >
            AND `GTM_CREATE` = #{gtmCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gtmUpdate != null" >
            AND `GTM_UPDATE` = #{gtmUpdate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.sean.arya.stark.backstage.dao.domain.StarkUserRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO STARK_USER_ROLE(<include refid="insertColumns"/>) VALUES(
            #{userRoleId,jdbcType=VARCHAR},
            #{userId,jdbcType=VARCHAR},
            #{roleId,jdbcType=VARCHAR},
            #{gtmCreate,jdbcType=TIMESTAMP},
            #{gtmUpdate,jdbcType=TIMESTAMP}
        )
    </insert>
    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO STARK_USER_ROLE(<include refid="insertColumns"/>) VALUES 
        <foreach collection="entities" item="item" separator="," >
            (
            #{item.userRoleId,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR},
            #{item.roleId,jdbcType=VARCHAR},
            #{item.gtmCreate,jdbcType=TIMESTAMP},
            #{item.gtmUpdate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <!-- 条件查询 -->
    <select id="query" parameterType="com.sean.arya.stark.backstage.dao.domain.StarkUserRole" resultMap="baseResult">
        SELECT <include refid="baseColumns" /> FROM STARK_USER_ROLE
        <where>
            <if test="id != null" >
            AND `ID` = #{id,jdbcType=BIGINT}
            </if>
            <if test="userRoleId != null and userRoleId != '' " >
            AND `USER_ROLE_ID` = #{userRoleId,jdbcType=VARCHAR}
            </if>
            <if test="userId != null and userId != '' " >
            AND `USER_ID` = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null and roleId != '' " >
            AND `ROLE_ID` = #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="gtmCreate != null" >
            AND `GTM_CREATE` = #{gtmCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="gtmUpdate != null" >
            AND `GTM_UPDATE` = #{gtmUpdate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <!-- 条件分页查询 -->
    <select id="page" resultMap="baseResult">
        SELECT <include refid="baseColumns" /> FROM STARK_USER_ROLE
        <where>
            <if test="entity.id != null" >
            AND `ID` = #{entity.id,jdbcType=BIGINT}
            </if>
            <if test="entity.userRoleId != null and entity.userRoleId != '' " >
            AND `USER_ROLE_ID` = #{entity.userRoleId,jdbcType=VARCHAR}
            </if>
            <if test="entity.userId != null and entity.userId != '' " >
            AND `USER_ID` = #{entity.userId,jdbcType=VARCHAR}
            </if>
            <if test="entity.roleId != null and entity.roleId != '' " >
            AND `ROLE_ID` = #{entity.roleId,jdbcType=VARCHAR}
            </if>
            <if test="entity.gtmCreate != null" >
            AND `GTM_CREATE` = #{entity.gtmCreate,jdbcType=TIMESTAMP}
            </if>
            <if test="entity.gtmUpdate != null" >
            AND `GTM_UPDATE` = #{entity.gtmUpdate,jdbcType=TIMESTAMP}
            </if>
        </where>
        limit #{start},#{size}
    </select>
    <!-- 根据主键删除一行数据 -->
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM STARK_USER_ROLE
        WHERE `USER_ROLE_ID` = #{userRoleId,jdbcType=VARCHAR}
    </delete>
</mapper>